fastapi
uvicorn[standard]
python-dotenv
loguru
pydantic
pydantic-settings
langchain
langchain-core
langchain-community
langchain-google-genai
langchain-mongodb
pymupdf
pymongo
supabase
python-jose[cryptography]
pytest
httpx
numpy
sentence-transformers
langchain-huggingface